The following code is meant to determine the total votes cast and total registered voters for the precincts that now compose the new Florida State Senate D38 after redistricting

Sources: https://www.miamidade.gov/global/elections/election-results-archive.page, https://redistricting.maps.arcgis.com/apps/View/index.html?appid=a1efd16272984e47b9940f179a5cbe18

In [42]:
import pandas as pd
import numpy as np

In [2]:
df_2020 = pd.read_csv('miami_2020.csv')

df_2020['Precinct Name'] = df_2020['Precinct Name'].str.replace('PRECINCT ', '').astype(float)
df_2020.rename(columns={'Precinct Name': 'Precinct Number'}, inplace=True)

d37_df = df_2020[df_2020['Contest'] == 'State Senator Dist 37']
d37_df.reset_index(inplace=True)

d39_df = df_2020[df_2020['Contest'] == 'State Senator Dist 39']
d39_df.reset_index(inplace=True)

#----------------------------------------------------------------

d40_df = pd.read_csv('miami_2018.csv')

d40_df['Precinct Name'] = d40_df['Precinct Name'].astype(float)
d40_df.rename(columns={'Precinct Name': 'Precinct Number'}, inplace=True)

d40_df = d40_df[d40_df['Contest'] == 'STATE SENATOR, DISTRICT 40']
d40_df.reset_index(inplace=True)

In [5]:
data = []
columns = list(df_2020.columns)

d37precinct = [52, 51, 617, 618, 809, 843.1, 582, 569, 546, 583, 584, 634, 611, 651, 672, 652, 674, 612, 673, 640,
              585, 532, 587, 586, 614, 635, 615, 613, 621, 606, 623, 719.1, 642, 653, 641, 625, 616, 626, 627, 628,
              648, 646, 649, 630, 632, 631, 650, 628, 807, 809, 806, 808, 850, 810, 837, 811, 820, 844, 819, 821, 822,
              957, 854, 823, 825, 824, 849, 839.1, 843, 832, 847, 862]

for index, row in d37_df.iterrows():
    if d37_df.iloc[index]['Precinct Number'] in d37precinct:
        data.append(d37_df.iloc[index])
        
#-----------
d39precinct = [848, 941, 900, 914, 913, 953, 931, 911, 909, 944, 903, 910, 940, 891, 890, 942, 904, 947, 969, 852, 960,
              968, 845, 829.1, 830, 831, 967, 966, 961, 889, 905, 827.1, 834, 856, 833, 839, 932, 168, 167, 843, 482, 
              938]

for index, row in d39_df.iterrows():
    if d39_df.iloc[index]['Precinct Number'] in d39precinct:
        data.append(d39_df.iloc[index])

#-----------
d40precinct = [438, 437, 436, 435, 434, 712, 713, 714, 715, 716, 717, 731, 731.1, 726, 730, 707.1, 729, 765, 745, 778,
              779, 728, 777, 727, 725, 718, 723, 720, 721, 719, 696, 781, 746, 814,743.1, 771, 742.1, 756, 791, 801,
              860, 841, 198, 200, 969.1, 845.1, 846, 829, 827, 851, 838, 815, 826, 818, 816, 813, 817, 812, 842, 802, 
              803, 804, 840, 754, 783, 753, 755, 760, 747, 749, 750, 748, 751, 752]

for index, row in d40_df.iterrows():
    if d40_df.iloc[index]['Precinct Number'] in d40precinct:
        data.append(d40_df.iloc[index])

In [7]:
full_df = pd.DataFrame(data, columns=columns)

In [9]:
election_results = full_df.groupby(['Contest', 'Candidate Issue', 'Precinct Number']).sum().reset_index()

In [11]:
columns = ['County Code', 'Precinct Number', 'Registered Rep', 'Registered Dem', 'Registered Other', 'Registered Total']

turnout_2020 = pd.read_excel('2020_turnout.xlsx',
                            names=columns)
for index in range(8):
    turnout_2020.drop(index, inplace=True)
    
turnout_2020['Registered Rep'] = turnout_2020['Registered Rep'].astype(int)
turnout_2020['Registered Dem'] = turnout_2020['Registered Dem'].astype(int)
turnout_2020['Registered Other'] = turnout_2020['Registered Other'].astype(int)
turnout_2020['Registered Total'] = turnout_2020['Registered Total'].astype(int)

In [12]:
turnout_2020 = turnout_2020[turnout_2020['County Code'] == 'DAD']

In [14]:
merge = election_results.merge(turnout_2020, how='inner', on='Precinct Number')

## Districts 37 (2020)

In [16]:
merge[(merge['Contest'] == 'State Senator Dist 37') & (merge['Candidate Issue'] == 'Alex Rodriguez')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
State Senator Dist 37,2120,178.15,36794,46510,38726,122030

In [17]:
merge[(merge['Contest'] == 'State Senator Dist 37') & (merge['Candidate Issue'] == 'Ileana Garcia')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
State Senator Dist 37,42251,2833.0,36794,46510,38726,122030

In [18]:
merge[(merge['Contest'] == 'State Senator Dist 37') & (merge['Candidate Issue'] == 'Jose Javier Rodriguez')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
State Senator Dist 37,48147,3488.8,36794,46510,38726,122030

In [224]:
d37_total_votes_cast = 2120+42251+48147
d37_registered_total = 122030

In [227]:
print('Votes Cast:', d37_total_votes_cast, 'Total Registered:',d37_registered_total)

Votes Cast: 92518 Total Registered: 122030

# District 39 (2020)

In [221]:
merge[(merge['Contest'] == 'State Senator Dist 39') & (merge['Candidate Issue'] == 'Ana Maria Rodriguez')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
State Senator Dist 39,20590,1767.16,16758,31647,23505,71910

In [222]:
merge[(merge['Contest'] == 'State Senator Dist 39') & (merge['Candidate Issue'] == 'Celso D. Alfonso')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
State Senator Dist 39,796,78.06,16758,31647,23505,71910

In [223]:
merge[(merge['Contest'] == 'State Senator Dist 39') & (merge['Candidate Issue'] == 'Javier E. Fernandez')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
State Senator Dist 39,25099,2054.77,16758,31647,23505,71910

In [ ]:
merge[(merge['Contest'] == 'State Senator Dist 39') & (merge['Candidate Issue'] == 'Jose Javier Rodriguez')].groupby('Contest').sum()

In [229]:
d39_total_votes_cast = 20590+796+25099 
d39_registered_total = 71910

In [230]:
print('Votes Cast:', d39_total_votes_cast, 'Total Registered:',d39_registered_total)

Votes Cast: 46485 Total Registered: 71910

## District 40 (2018)

In [19]:
merge[(merge['Contest'] == 'STATE SENATOR, DISTRICT 40') & (merge['Candidate Issue'] == 'Annette Taddeo')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
"STATE SENATOR, DISTRICT 40",44359,3738.54,50372,55503,45517,151392

In [20]:
merge[(merge['Contest'] == 'STATE SENATOR, DISTRICT 40') & (merge['Candidate Issue'] == 'Marili Cancio')].groupby('Contest').sum()

,Total Votes,% of Total Votes,Registered Rep,Registered Dem,Registered Other,Registered Total
Contest,,,,,,
"STATE SENATOR, DISTRICT 40",35309,3061.46,50372,55503,45517,151392

In [231]:
d40_total_votes_cast = 4459+35309 
d40_registered_total = 151392

In [232]:
print('Votes Cast:', d40_total_votes_cast, 'Total Registered:',d40_registered_total)

Votes Cast: 39768 Total Registered: 151392